@model List<CommentsAssessmentProject.Models.Comment>
@{
    ViewData["Title"] = "Home Page";
}


<div class="new-comment-wrapper">
    <button type="button" class="button btnReply" data-id="0">New Comment</button>
    <div class="divReplyArea" data-id="0">

    </div>
    
</div>

<div class="wrapper">
    @foreach (var comment in Model)
    {
        await Html.RenderPartialAsync("_Comment.cshtml", comment);

    }



</div>
