@model List<CommentsAssessmentProject.Models.Comment>
@{
    ViewData["Title"] = "Home Page";
}


<div id="new-commment-wrapper">

    @{ await Html.RenderPartialAsync("_AddComment", new Comment()); }
</div>

<div class="spacer">

</div>

<div class="post-wrapper">
    @foreach (var comment in Model)
    {
    <div class="post">
        <div class="post-author">
            @Html.DisplayFor(c => comment.Author)
        </div>
        <div class="post-content">
            @Html.DisplayFor(c => comment.CommentContent)
        </div>
        <div class="post-date">
            Posted on @comment.PostedDateTime.ToString("dd/MM/yyyy"), at @comment.PostedDateTime.ToString("HH:mm")
        </div>

    </div>
    }
</div>

